body {
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    font-size: 12px;
}
label {
    display: inline-block;
}
input {
    display: block;
    margin-bottom: 20px;
}
.results {
    display: none;
}
.error {
    background-color: #FFAAAA;
}